body{
    background-image: url("health.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.blocks{
    display:flex;
    margin-top: 8%;
    margin-right: 10%;
    max-width: 100%;
}

.block1{
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 5%;
    border: 3px solid rgb(110, 235, 8);
    color: rgb(24, 175, 180);
    width:100%;
    height:auto;
}

.block2{
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 5%;
    border: 3px solid rgb(110, 235, 8);
    color: rgb(24, 175, 180); 
    width:100%;
    height:auto;
}


.mdlbox1{
    opacity: 0;
    pointer-events: none;
    background-color: rgba(51, 141, 224, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.mdlbox1:target{
    opacity:1;
    pointer-events: all;
}

.mdlbox2{
    opacity: 0;
    pointer-events: none;
    background-color: rgba(18, 235, 72, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.mdlbox2:target{
    opacity:1;
    pointer-events: all;
}

.heading{
    width: 40%;
    height: 5%;
    margin-top: 10%;
    margin-left: 30%; 
    display:inline-flex;
}

.herobox{
    background-color: rgb(245, 144, 12);
    border: 2px solid rgb(245, 144, 12);
    width: 40%;
    height: 50%;
    margin-bottom: 20%;
    margin-left: 30%; 
}

.herobox>p{
    width: 90%;
    margin:auto;
    height: 160px;
    margin-top: 3%;
    margin-left: 30px;
    padding:5px;
}

