body {
    background: linear-gradient(135deg, #f06, #4a90e2);
    color: white;
    font-family: Arial, sans-serif;
}

.btns{
    text-align: center;
    width: auto;
    padding: 25%;
}

.modal-dialog {
    background-color: #333;
    color: rgba(235, 2, 99, 0.651);
}

.btn-primary, .btn-secondary {
    margin: 10px;
}

.modal-body1{
    display: flex;
}

.modal-body2{
    display: flex;
}

.col-sm-2{
    font-weight: bolder;
    margin-top: 5%;
    padding: 2px;
}